# 10 minutes to pandas

In [1]:
In [1]: import numpy as np

In [2]: import pandas as pd

# Basic data structures in pandas
Pandas provides two types of classes for handling data:

**Series** : a one-dimensional labeled array holding data of any type
such as integers, strings, Python objects etc.

**DataFrame** : a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

In [2]:
 # series
 s = pd.Series([1, 3, 5, np.nan, 6, 8])

 s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# dates 
dates = pd.date_range("20130101", periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

df

                   A         B         C         D
2013-01-01  0.549247 -1.490333  0.092985 -1.178550
2013-01-02 -0.065546  1.156555 -0.777426  0.364609
2013-01-03  0.135106 -0.421053 -0.397708 -0.049892
2013-01-04 -0.068859 -0.378988 -0.331683 -1.580478
2013-01-05 -0.293979  0.921951  1.574601 -0.004494
2013-01-06  2.222271 -0.014493  1.614112  1.176942